{% extends "learning_logs/base.html" %}
<!--  -->
{% block page_header %} {% if user.is_authenticated %}
<h2>What I'm thinking lately...</h2>
<ul>
  {% for topic in topics %}
  <li>
    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic.text}}</a>
  </li>
  {% empty %}
  <li>
    No topics yet.
    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="jumbotron">
  <h1 class="display-3">Track your learning.</h1>
  <p class="lead">
    Make your own Learning Log, and keep a list of the topics you're learning
    about. Whenever you learn something new about a topic, make an entry
    summarizing what you've learned.
  </p>
  <a
    class="btn btn-lg btn-primary"
    href="{% url 'users:register' %}"
    role="button"
    >Register &raquo;</a
  >
</div>
{% endif %} {% endblock page_header %}
